

.ex{
    font-family: system-ui;
}
.ex:hover {
    color: palevioletred;
}

.e2{
    color: gold;
    text-decoration-color: palevioletred;
    text-decoration: none;
}

.project{
    color: palevioletred;
    
    text-decoration-style: none;
}
 .project:hover {
    color: palevioletred;
}