* {
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color:yellowgreen;
}

.normal {
  padding: 50px 50px;
  width: 80%;
  line-height: 2;
  column-count: 4;
  column-gap: 15px;
  flex-basis: 50%;
  padding: 30px;
  display: flex;
  flex-direction:column-reverse;  
}

.author {
    text-align: center;
    text-decoration-style: wavy;
    font-stretch: expanded;
    font-size: 40px;
    position: fixed;
    top: 10%;
    
}

.pullquote {
  color: white;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  letter-spacing: 5px;
  font-size: 3em;
  text-align: right;
  flex: grow 4;
  background: crimson;
  align-self: flex-end;
}
.pullquote:hover {
    color: greenyellow;
}
.section {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    text-align-last: right;
    font-size: 70px;
    font-style: oblique;
    width: 60%;
    height: 100%;
    float: right;
    height: 100%;
    align-items:flex-end;
    display: flex;
    flex-direction: column;
    position: fixed;
    

}
.column {
    background:white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}