.container {
    padding: 15px;
    display: grid;
    background-color: rgb(234, 173, 160);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    height: 300px;
  }
  
  .item {
    grid-column-start: 1;
    grid-column-end: 4;
    /*   background-color: pink; */
  }
  
  .cell {
    background-color: rgb(28, 40, 126);
  }
  