nav {
    height: 60px;
    box-sizing: border-box;
}

.navbar {
     display: flex;
     justify-content: space-around;
     list-style: none;
     background-color: lavenderblush;
     line-height: 60px;
 }
